.App {
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 19, 19);
}
.header {
  width: 100%;
  height: 30vh;
  background-image: url("./ressources/TableauBanniere.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("./ressources/unnamed.jpg");
  background-size: contain;
  background-position: center;
  position: absolute;
  right: 50%;
  border: rgb(19, 19, 19) 10px solid;
  transform: translateX(50%) translateY(-50%);
}
.title-header {
  font-size: 4rem;
  padding: 1rem 2rem;
  width: 100%;
  color: whitesmoke;
  /* position: absolute; */
  font-family: monospace;
  text-align: center;
  right: 50%;
}
.header::before {
  /* backdrop-filter: brightness(.1); */
  content: '';
  position: absolute;
  inset: 0;
  background-image: url("./ressources/téléchargement.png");
}
.supercont {
  background-color: rgb(19, 19, 19);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;

}
.cont-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  /* background-color: red; */
  gap: 2rem;
  position: relative;
  width: 75%;
  
}
.divMedia {
  border-left: whitesmoke 4px solid;
  /* border-radius: 1rem; */
  background-color: rgba(255, 255, 255, 0.068);
}


@media (max-width: 1250px) { 
  .cont-media {
    grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  }
  .supercont {
    margin-top: 6rem;
  }
 }
@media (max-width: 950px) { 
  .supercont {
    margin-top: 10rem;
  }
 }
@media (max-width: 600px) { 
  .supercont {
    margin-top: 10rem;
  }
  .title-header {
    font-size: 2rem;
  }
  .media {
    padding: 1rem;
    border-left: none;
  }
  .cont-media {
    width: 100%;
  }
 }